* {
	margin: 0;
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background-color: #fafafa;
	color: #333;
	border: 0;
	box-sizing: border-box;
	font-family: 'Manrope', sans-serif;
}

a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0, 80, 160);
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="image"] {
	border: none;
	outline: none;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

button {
	color: #FFFFFF;
	background-color: #F15252;
	border-radius: 5px;
	padding: .6em 1.2em .6em 1.2em;
	outline: none;
	border: none;
	cursor: pointer;
	font-weight: 600;
	text-transform: uppercase;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

button:disabled {
	color: #e4e4e4;
	background-color: #868686;
}

button:not(:disabled):active {
	background-color: #AE3535;
}

button:focus {
	border-color: #AE3535;
}

.action {
	padding: 0.45em;
	background-color: #f15252;
	border-radius: 50%;
	border: 0;
	line-height: 0;
}

.card {
	background-color: white;
	margin: .4em 0;
	width: 100%;
	border-radius: 2;
	-webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
}

.time-text {
	font-family: 'Titillium Web', sans-serif;
}

.modal-background {
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
}

.modal {
	position: absolute;
	top: 36%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fefefe;
	padding: 2em 2em;
	border-radius: 5px;
	width: min(95%, 400px);
}


@media only screen and (max-width: 580px) {
	.modal {
		width: 80%;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		color: #eee;
		background-color: #121212;
	}

	.card {
		background-color: #282828;
		-webkit-box-shadow: 0px 0px 6px 0px rgba(60, 60, 60, 0.1);
		-moz-box-shadow: 0px 0px 6px 0px rgba(60, 60, 60, 0.1);
		box-shadow: 0px 0px 6px 0px rgba(60, 60, 60, 0.1);
	}

	.modal {
		background-color: #282828;
	}
}